# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp